.contact-page {
    margin: 70px 0;
}

.contact-info {
    margin: 20px 0 30px;
}

.contact-info div {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 20px;
    outline: 1px solid #6c5ce7;
    align-items: center;
    border-radius: 3px;
    display: flex;
}

.contact-info div i {
    font-size: 2rem;
    color: #ffa502;
}

.contact-info div h3 {
    padding-left: 20px;
    color: #636e72;
    font-family: var(--font-heading);
  font-weight: 800;
}

.contact-info div h3 span {
    display: block;
    padding-top: 7px;
    color: black;
    font-family: var(--font-body);
    font-size: 17px;
}

.links {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.contact-page h2 {
    color: #e84393;
    padding-top: 20px;
    font-family: var(--font-heading);
    font-weight: bold;
    font-size: 25px;
}

.links h3 {
    background-color: #dfe6e9;
    width: 230px;
    outline: 1px solid #d63031;
    text-align: center;
    border-radius: 4px;
    padding: 30px;
}

.links h3 i {
    color: #6c5ce7;
    font-size: 1.9rem;
}

.links h3 span {
    display: block;
    padding-top: 10px;
    font-family: var(--font-heading);
    font-weight: 800;
}


@media (min-width: 300px) and (max-width: 748px) {
    .links {
        display: block;
    }

    .links h3 {
        margin-bottom: 10px;
        width: 100%;
    }
}
