header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

header h2 {
    text-transform: uppercase;
    margin-bottom: 17px;
    color: #fff;
    font-family: var(--font-heading);
    font-weight: 800;
}

header h4 span {
    padding-left: 10px;
    color: #e84393;
}

header h4 span i {
    padding-right: 6px;
    font-weight: 500;
}

header h4 {
    margin-bottom: 17px;
    color: #5352ed;
}

header div {
    padding: 15px;
    outline: 1px solid #dfe6e9;
    background-color: #636e72;
    border-radius: 10px;
    margin-bottom: 70px;
}

header div h3 {
    margin-bottom: 7px;
    color: #ffa502;
    font-family: var(--font-heading);
    font-weight: 600;
}

header div p {
    line-height: 1.5;
    font-family: var(--font-body);
}

header div p span {
    color: #dfe6e9;
}