.skill-container {
    margin-top: 30px;
}

.card-container, .project-container {
    display: flex;
    gap: 10px;
}

.project-container {
    flex-wrap: wrap;
}

.card {
    padding: 30px;
    border-radius: 10px;
    max-width: 230px;
    text-align: center;
    margin-bottom: 70px;
    outline: 2px solid #636e72;
    background-color: #dfe6e9;
}

.card:hover {
    transform: scale(1.02);
}

.card h2 {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 1.1rem;
    padding-top: 6px;
    font-family: var(--font-heading);
    font-weight: 800;
}

.card h4 {
    padding-bottom: 10px;
    color: #6c5ce7;
    font-family: var(--font-heading);
    font-weight: 600;
}

.card i {
    font-size: 1.5rem;
    padding-bottom: 7px;
}

.card p {
    line-height: 1.5;
    color: #2d3436;
    text-align: center;
    font-family: var(--font-body);
}

.skills-title {
    margin: 24px 0;
}

.skills-title h3 {
    text-transform: uppercase;
    color: #e84393;
    font-family: var(--font-heading);
    font-weight: bold;
    padding-top: 20px;
    font-size: 25px;
}

.skills-title i {
    padding-right: 7px;
}

.project-card {
    max-width: 340px;
    outline: 1px solid #dfe6e9;
    background-color: #dfe6e9;
}

.project-cardbase {
    margin-top: 70px;
}

.project-card img {
    width: 340px;
    height: 250px;
}

.project-card h3, h4 {
    padding: 10px 10px 0 20px;
}

.project-card h3 {
    padding-top: 20px;
    font-family: var(--font-heading);
    font-weight: 800;
}

.project-card h4 {
    line-height: 1.5;
    font-size: 14px;
    padding-bottom: 15px;
    color: #7f8c8d;
    font-family: var(--font-body);
}

.project-span {
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
}

.project-span button {
    margin-bottom: 20px;
    padding: 10px 2.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.project-span button i {
    padding-right: 6px;
}

.btn1 {
    background-color: black;
    color: #fff;
    font-size: 17px;
    border: 1px solid #fff;
}

.btn1 i {
    color: #fff;
}

.btn2 {
    outline: none;
    font-size: 17px;
    color: black;
}




@media (min-width: 300px) and (max-width: 648px) {
    .card-container {
        display: block;
    }

    .project-container {
        justify-content: center;
    }

    .card {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .project-card {
        max-width: 350px;
    }

    .project-card img {
        width: 350px;
    }
}